.mainarea{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.team{
  width: 100%;
  height: 500px;
}

.team-area{
  padding-top: 25px;
  height: auto; 
  width: 78%;
  margin: 0px auto;
  max-width: 1245px;
  padding-left: 150px;
  padding-right: 150px;
}
/*@media only screen and (max-width: 375px){
    .team-area{
      height: 2000px;
    }
}*/
.itemarea{
  width:100%;  
  overflow:hidden;
}
.all-items{
  position: relative;
  margin-bottom: 20px;
  width: auto;
  left: 0px;
  height: 450px;
}
.items{
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  height: auto;
  background-color: lightgray;
}
.item-contact{
  transition: all .5s ease;
  position: absolute;
  bottom: -85%;
  width: 100%;
  height: 100%;
  left: 0%;
  right: 0%;
  background-color:#065b7ede;
}
.item-contact h3{
  color: white;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
  font-size: 30px;
}
.item-contact p {
  margin-bottom: 20px;
  padding-left: 13px;
  word-spacing: 2px;
  line-height: 20px;
  font-size: 17px;
  color: #cfe4dc;
}
.item-contact ul{
  margin-left: 10px;
}
.item-contact li{
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}
.item-contact li span{
  transition: all .5s ease;
  color: #a9c8d4;
  font-size: 22px;
}
.item-contact li:nth-child(1) span{

}
.item-contact li:nth-child(2) span{

}
.item-contact li:nth-child(3) span{

}
.item-contact li:nth-child(4) span{

}
.item-contact li span:hover{  
  color:#ffffff;
}
.team-img{
  padding:20px;
  width: 100%;
  height: 390px;
}
.team-img img{
  width: 100%;
  height: 100%;
}
.items:hover .item-contact{
  bottom: 0%;
}
.carousel-btns{
  width: 180px;
  margin: 0px auto;
}
.prev{
  float: left;
}
.next{
  float: right;
}
.btns button{
  transition: all .5s ease;
  background-color: transparent;
  color: #5f8ee4;
  outline: none;
  border:1px solid #5f8ee4;
  cursor: pointer;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  font-size: 22px
}
.btns button:hover{
  color: #ffffff;
  background-color: #216b8a;
  border: 1px solid #206a89;
}